.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(118deg, #2b3a75 19%, #5586d8 79%);
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loginButton {
  height: 45px;
  margin: 30px 10px 0 0;
  font-weight: 400;
  font-size: 18px;
  color: #17cdff;
  background-color: transparent;
  border-color: #17cdff;
  padding: 10px 0px;
  border-radius: 0.4rem;
  border-style: solid;
  width: 140px;
  text-align: center;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.loginButton:hover {
  color: white;
  border-color: #17cdff;
  background-color: #17cdff;
  cursor: pointer;
}

.loginButton:focus {
  outline: 0;
}

.loginFields:focus {
  outline: 2px;
}

::placeholder {
  color: white;
  opacity: 0.4;
}

.loginFields {
  padding-left: 10px;
  font-weight: 400;
  font-size: 18px;
  color: #17cdff;
  height: 39px;
  font-size: 18px;
  border-radius: 0.4rem;
  background-color: transparent;
  border-color: #17cdff;
  border-style: solid;
  margin-left: 5px;
  margin-right: 5px;
}

.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
