.App {
    text-align: center;
  }
  
  .App-header {
    background-image: linear-gradient(118deg, #2b3a75 19%, #5586d8 79%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .classicButton {
    margin: 0 10px 0 10px;
    font-weight: 400;
    font-size: 18px;
    color: #17cdff;
    background-color: #243055;
    border-color: #243055;
    padding: 10px 20px;
    border: none;
    border-radius: 0.25rem;
    width: 140px;
    text-align: center;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  .classicButton:hover {
    color: #243055;
    border-color: #17cdff;
    background-color: #17cdff;
    cursor: pointer;
  }
  
  .classicButton:focus {
    outline:0;
  }
  
  .logoutBtn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
  }
  .logoutBtn:hover  {
    cursor: pointer;
  }
  .logoutBtn:focus {
    outline: 0;
  }

  .close{
    float: right;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    margin-top: -10px;
  }
  .close:hover  {
    cursor: pointer;
  }
  .close:focus {
    outline: 0;
  }

  .h2 {
    font-size : 14px;
    position: absolute;
    top : 10px;
    right : 30px;
    color : white;
    text-decoration : none;
  }

  .column {
    float: left;
    width: 200px;
  }

  .row{
    margin: 0 0 30px 0;
    width: 100%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .inputData {
    margin-top: 5px;
    width: 150px;
    border: none;
    border-radius: 3px;
  }

  .inputData:focus {
    outline: 0;
  }

  .inputItem {
    display: table-caption;
    vertical-align: middle;
    height: 50px;
    margin-top: 8px;
  }

  .inputItem:invalid {
    border: 2px solid red;
  }

  .infoCards {
    height: fit-content;
    width: 500px;
    border: 1px solid #17cdff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  .infoCards:hover {
    color: #243055;
    border-color: #17cdff;
    background-color: #17cdff;
  }
